<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <style>
      .nav-container {
        text-align: center;
        margin-bottom: 20px;
      }
      .nav {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
      .nav li {
        display: inline-block;
        margin-right: 15px;
      }
      .nav li:last-child {
        margin-right: 0;
      }
      @media (max-width: 600px) {
        .nav li {
          display: block;
          margin-bottom: 10px;
        }
      }
    </style>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z691KZMBF9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Z691KZMBF9');
    </script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}
      
      <div class="nav-container">
        <ul class="nav">
          <li><a href="{{ "/" | absolute_url }}">Home</a></li>
          <li><a href="{{ "/about" | absolute_url }}">About</a></li>
          <li><a href="{{ "/education" | absolute_url }}">Education</a></li>
          <li><a href="{{ "/experience" | absolute_url }}">Experience</a></li>
          <li><a href="{{ "/research" | absolute_url }}">Research</a></li>
          <li><a href="{{ "/publications" | absolute_url }}">Publications</a></li>
          <li><a href="{{ "/conferences" | absolute_url }}">Conferences</a></li>
          <li><a href="{{ "/others" | absolute_url }}">Others</a></li>
          <li><a href="{{ "/contact" | absolute_url }}">Contact</a></li>
        </ul>
      </div>

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>