---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    {% assign tag_refs = '' | split: '' %}
    {% for post in site.tags[t] %}
      {% assign post_ref = post.ref | default: post.slug %}
      {% unless tag_refs contains post_ref %}
        {% assign tag_refs = tag_refs | push: post_ref %}
      {% endunless %}
    {% endfor %}
    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ tag_refs | size }}</span>
      </a>
    </div>
  {% endfor %}
</div>
